<%= form_for @booking, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :band_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:band_id, Band.all.map {|band| [band.name, band.id]}, :prompt => 'Select a Band...') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :club_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:club_id, Club.all.map {|club| [club.name, club.id]}, :prompt => 'Select a Club...') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :show_date, :class => 'control-label' %>
    <div class="controls">
      <%=
          f.date_select(:show_date, :start_year => 2013, :order => [:month, :day, :year])
      %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fee, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fee, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bookings_path, :class => 'btn' %>
  </div>
<% end %>
